.desktop-layout {
  display: flex;
  height: 100vh;
  background: var(--bg);
}

.left-pane {
  width: 300px;
  border-right: 1px solid var(--border);
  display: flex;
  flex-direction: column;
}

.right-pane {
  flex: 1;
  display: flex;
  flex-direction: column;
}
