.desktop-layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.left-pane {
  width: 360px;
  flex-shrink: 0;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
}

.right-pane {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
