.mobile-layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

.mobile-layout main {
  flex-grow: 1;
  overflow: auto;
}
